.name{
    color:cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.photoo{
    margin-top: -35px;
    margin-left: 20%;
}

.infos{
   
    margin-left: 20px;
    margin-top: -150px;
    margin-bottom: 100px;
}

.anim{
    margin-left: 78%;
}

.animation{
    background-color: rgb(156, 140, 138);
    width: 260px;
    height: 50px;
    position:relative;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 25px;
    color:mistyrose;
    font-family: Arial, Helvetica, sans-serif;
    

    -moz-animation-name: chgt-couleur;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: ease;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction:normal;

    -o-animation-name: chgt-couleur;
    -o-animation-duration: 5s;
    -o-animation-timing-function: ease;
    -o-animation-delay: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction:normal;

    animation-name: chgt-couleur;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction:normal;

    -webkit-animation-name: chgt-couleur;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:normal;
}

@-webkit-keyframes chgt-couleur{
    0%{background-color: rgb(156, 140, 138); top:0px; left: -100px;}
    25%{background-color: cornflowerblue; top: 0px; left: -300px;}
    50%{background-color: rgb(156, 140, 138); top: 100px; left:-300px;}
    75%{background-color: cornflowerblue; top: 100px; left: -100px;}
    100%{background-color: rgb(156, 140, 138); top:0px; left:-100px;}
}
@keyframes chgt-couleur{
    0%{background-color: rgb(156, 140, 138); top:0px; left: -100px;}
    25%{background-color: cornflowerblue; top: 0px; left: -300px;}
    50%{background-color: rgb(156, 140, 138); top: 100px; left:-300px;}
    75%{background-color: cornflowerblue; top: 100px; left: -100px;}
    100%{background-color: rgb(156, 140, 138); top:0px; left:-100px;}
}
@-moz-keyframes chgt-couleur{
    0%{background-color: rgb(156, 140, 138); top:0px; left: -100px;}
    25%{background-color: cornflowerblue; top: 0px; left: -300px;}
    50%{background-color: rgb(156, 140, 138); top: 100px; left:-300px;}
    75%{background-color: cornflowerblue; top: 100px; left: -100px;}
    100%{background-color: rgb(156, 140, 138); top:0px; left:-100px;}
}
@-o-keyframes chgt-couleur{
    0%{background-color: rgb(156, 140, 138); top:0px; left: -100px;}
    25%{background-color: cornflowerblue; top: 0px; left: -300px;}
    50%{background-color: rgb(156, 140, 138); top: 100px; left:-200px;}
    75%{background-color: cornflowerblue; top: 100px; left: -100px;}
    100%{background-color: rgb(156, 140, 138); top:0px; left:-100px;}
}

.categories{
    color:cornflowerblue;
    font-style: italic;
    font-weight:bold;
    border-bottom: 3px solid grey;
    font-size: 20px;
}


aside{
    width: 40%;
    padding-left: 15px;
    margin-left: 30px;
    float: right;
    background: rgb(179, 174, 174);
    
}

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: rgb(150, 149, 149);
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type:"|";
}

nav li{
    float:right;
    width: 33%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration:transparent;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: rgb(112, 170, 218);
    border-bottom: 2px solid rgb(82, 183, 223);
}

.bodySize{
    margin-left:auto;
    margin-right:auto;
    width: 275mm;
    height: 300mm;
}

.CVpage{
    padding: 10px;
    border-radius: 10px;
}

#form{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(150, 149, 149);
}




